  <!--SECCION EXPERIENCIA-->
  <section id="experience" class="experience-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-title">Experiencia</h2>
        </div>
  
        <!--Linea de tiempo-->
        <div class="container block shadow pt-4 ps-5"> 

          <!--Botón Agregar-->
          <span class="edicion-icon d-flex justify-content-end" id="edicion-icon">
            <a class="nav-link" routerLink="/agregar-experiencia">
              <i class="bi bi-plus-circle-fill" *ngIf="isLogged"></i>
            </a>
          </span>
          
          <!--Linea de Tiempo Trabajo-->
          <ul class="timeline-with-icons">            
            <li class="timeline-item mb-5" *ngFor="let trabajo of trabajosList">
              <span class="timeline-icon">
                <i class="bi bi-briefcase-fill"></i>
              </span>

              <!--Botones Editar y Eliminar-->
              <span class="edicion-icon d-flex justify-content-end" id="edicion-icon">
                <a href="#" routerLink="/editar-experiencia/{{trabajo.id}}">
                  <i class="bi bi-pen-fill" *ngIf="isLogged"></i>
                </a>
                <a (click)="borrarTrabajo(trabajo.id)" href="#">
                  <i class="bi bi-trash3-fill" *ngIf="isLogged"></i>
                </a>
              </span>

              <h5 class="timeline-title fw-bold">{{trabajo?.nombre_puesto}}</h5>
              <h6>{{trabajo?.nombre_empresa}}</h6>
              <p class="timeline-date text-muted mb-2 fw-bold">{{trabajo?.fecha_inicio}} - {{trabajo?.fecha_fin}}</p>
              <p class="timeline-content text-muted"> 
                {{trabajo?.descripcion}}                
              </p> 
            </li>             
          </ul> <!--Termina Linea de Tiempo-->
        </div>

      </div> <!--Termina Fila-->
    </div> <!--Cierre Container-->
  
  </section>