  <!--SECCION HABILIDADES-->
  <section id="skills" class="skills-section">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-content mb-4">
            <h2 class="section-title">Habilidades</h2>
          </div>
        </div>
      </div>

      <!--Botón Agregar-->
      <span class="edicion-icon d-flex justify-content-end" id="edicion-icon">
        <a class="nav-link" href="#" routerLink="/agregar-habilidad"><i class="bi bi-plus-circle-fill"></i></a>
      </span>


      <!--Tarjeya Habilidad-->
      <div class="row justify-content-around">
        <div class="col-sm-12 col-md-6 mb-3" *ngFor="let skill of skillsList" >
          <div class="card mb-0 border-0 shadow-none">
            
              <div class="skill-box col-12" >
                <div class="skill-title d-flex justify-content-between align-items-center">
                  <p>{{skill?.nombre_habilidad}}</p>
                  <p>{{skill?.porcentaje}}</p>
                </div>
    
                <div class="progress">
                  <div class="progress-bar" style="background-color: #D47AE8; width: {{skill?.porcentaje}}">
                  </div>
                </div>
  
                <!--Botones Editar y Eliminar-->
                <span class="edicion-icon d-flex justify-content-end mt-1" id="edicion-icon">
                  <a href="#" routerLink="/editar-habilidad/{{skill.id}}"><i class="bi bi-pen-fill"></i></a>
                  <a (click)="borrarHabilidad(skill.id)" href="#"><i class="bi bi-trash3-fill"></i></a>
                </span>             
              
            </div>
          </div>      
        </div>
  
      </div> <!--Termina Fila-->             
        
        
    </div> <!--Cierre Container-->

  </section>