  <!--SECCION PROYECTOS-->
  <section id="projects" class="projects-section d-flex flex-column">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-title">Proyectos</h2>
        </div>
      </div>

      <!--Botón Agregar-->
      <span class="edicion-icon d-flex justify-content-end" id="edicion-icon" *ngIf="isLogged">
        <a class="nav-link" routerLink="/agregar-proyecto">
          <i class="bi bi-plus-circle-fill"></i>
        </a>
      </span>
  
      <!--Galeria Proyectos-->
        <div class="container text-center proyectos-contenedor">
          <div class="row">
  
            <!--Proyecto-->
            <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let proyecto of proyectosList">
              
              <!--Botones Editar y Eliminar-->
              <span class="edicion-icon" id="edicion-icon" *ngIf="isLogged">
                <a href="#" routerLink="/editar-proyecto/{{proyecto.id}}">
                  <i class="bi bi-pencil-fill"></i>
                </a>
                <a (click)="borrarProyecto(proyecto.id)" href="#">
                  <i class="bi bi-trash3-fill"></i>
                </a>
              </span>

              <div class="proyecto">
                <img [src]="proyecto?.url_imagen" alt="Imagen de proyecto">
                <div class="overlay col-10 me-3">
                  <h5 class="fw-bold">{{proyecto?.nombre_proyecto}}</h5>
                  <p class="text-muted">{{proyecto?.descripcion}}</p>
                  <div class="iconos-contenedor justify-content-center mt-3">
                    <a href="{{proyecto?.url_repositorio}}" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-github"></i>
                    </a>
                    <a href="{{proyecto?.url_proyecto}}" target="_blank" rel="noopener noreferrer">
                      <i class="bi bi-zoom-in"></i>
                    </a>
                  </div>
                </div> 
              </div>
                                          
            </div> <!--Cierre Proyecto-->
          </div> <!--Cierre Fila-->
     
        </div> <!--Cierre 2do Container-->
                
    </div> <!--Cierre 1er Container-->

  </section>