  <!--HEADER-->
  <header id="header">

    <!--BARRA DE MENU-->
    <nav id="menu" class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #f8f8f8;">
      <div class="container-fluid">
  
      <!--Logo Argentina Programa-->
        <a class="navbar-brand" href={{miPortfolio.linkArgProg}} target="_blank" rel="noopener noreferrer">
          <img class="logotipo" [src]="miPortfolio.imgLogo" alt="Logo Arg Prog">
        </a>
  
      <!--Categorias de Botones-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href="#home" style="color: #D47AE8;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#about">Sobre mí</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#education">Educación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills">Habilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#experience">Experiencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Proyectos</a>
            </li>
          </ul>
          <hr class="text-black-50">
        
        <!--Iconos Redes Sociales-->
          <ul class="navbar-nav flex-row flex-wrap text-center">
            <li class="nav-item col-4 col-lg-auto" id="iconos-barra">
              <a class="nav-link" href={{miPortfolio.linkLinkedin}} target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="nav-item col-4 col-lg-auto">
              <a class="nav-link" href={{miPortfolio.linkGithub}} target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
            </li>
            <li class="nav-item col-4 col-lg-auto">
              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#ModalSignin"><i class="bi bi-person-circle"></i></a>          
            </li>
          </ul> <!--Cierre Lista-->
        </div>

      </div> <!--Cierre container-->
    </nav>
  
    <!--Modal Inicio Sesion-->
    <div class="modal fade" id="ModalSignin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Iniciar sesión
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
  
              <!--Formulario-->
              <form>
                <div class="row mb-3">
                  <label for="usuario" class="col-3 col-form-label">
                    Usuario
                  </label>
                  <div class="col-9">
                    <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp">
                  </div>
                </div>
  
                <div class="row mb-3">
                  <label for="password" class="col-3 col-form-label">
                    Contraseña
                  </label>
                  <div class="col-9">
                    <input type="password" class="form-control" id="password">
                  </div>
                </div>
  
                <div class="row mb-3">
                  <div class="col-9 offset">
                    <button type="submit" class="btn btn-dark me-2" style="border-color: #D47AE8; background-color: #D47AE8;" name="button">
                      Confirmar
                    </button> 
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Salir
                    </button>                           
                  </div>
                </div>
                
              </form> <!--Cierre Formulario-->
  
            </div>
          </div>
  
        </div>
      </div>
    </div> <!--Cierre Modal-->
  
  
  </header>