<section id="editarExperiencia" class="edit-section">

    <!--Boton Volver Atras-->
    <div class="position-absolute top-0 start-0">
        <a class="nav-link" routerLink="/portfolio" id="volverAtras">
            <i class="bi bi-arrow-left-circle"></i>            
        </a>
    </div>
    
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-8 mb-3">
            <div class="card">
                <div class="card-body px-4 py-4">

                    <!--Formulario-->                
                    <form class="row g-3" role="form" #formEditarExperiencia="ngForm">
                        <div class="form-group col-12">
                            <label for="nombre_puesto" class="col-form-label fw-bold">
                                Nombre del puesto
                            </label>
                            <input type="text" class="form-control" id="nombre_puesto" name="nombre_puesto" [(ngModel)]="trabajoActual.nombre_puesto">                  
                        </div>

                        <div class="form-group col-12">
                            <label for="nombre_empresa" class="col-form-label fw-bold">
                                Nombre de la empresa
                            </label>
                            <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa" [(ngModel)]="trabajoActual.nombre_empresa">                  
                        </div>
    
                        <div class="form-group col-6">
                            <label for="fecha_inicio" class="col-form-label fw-bold">
                                Fecha de inicio
                            </label>
                            <input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio" [(ngModel)]="trabajoActual.fecha_inicio">
                        </div>

                        <div class="form-group col-6">
                            <label for="fecha_fin" class="col-form-label fw-bold">
                                Fecha de fin
                            </label>
                            <input type="text" class="form-control" id="fecha_fin" name="fecha_fin" [(ngModel)]="trabajoActual.fecha_fin">
                        </div>
  
                        <div class="form-group col-12">
                             <label for="descripcion" class="col-form-label fw-bold">
                                Descripción del puesto
                            </label>
                            <textarea class="form-control" id="descripcion" style="height: 100px" name="descripcion" [(ngModel)]="trabajoActual.descripcion"></textarea>
                        </div>
                              
                        <!--Boton Agregar-->
                        <div class="col-9 offset" *ngIf="!trabajoActual.id else elseBlock">
                            <button (click)="agregarTrabajo()" type="button" class="btn btn-dark me-2" name="addButton" id="editButton">
                                Agregar
                            </button>
                            <button type="button" class="btn btn-secondary" routerLink="/portfolio" name="cancelButton" id="cancelButton">
                                Cancelar
                            </button>
                        </div>

                        <!--Boton Modificar-->
                        <ng-template #elseBlock>
                            <div class="col-9 offset">
                                <button (click)="editarTrabajo(trabajoActual)" type="submit" class="btn btn-dark me-2" name="addButton" id="editButton">
                                    Modificar
                                </button>
                                <button type="button" class="btn btn-secondary" routerLink="/portfolio" name="cancelButton" id="cancelButton">
                                    Cancelar
                                </button>
                            </div>
                        </ng-template>         
                  
                    </form> <!--Cierre Formulario-->

                </div>
            </div>
        </div>
    </div> <!--Cierre Container-->

</section>