/*--Alert Toastr--*/
@import 'ngx-toastr/toastr';

#editarProyecto{
    background-color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
    min-height: 600px; 
}

.btn:hover{
    background-color: #b166c2 !important;
    border-color: #b166c2 !important;
}

#volverAtras{
    font-size: 30px;
    padding: 15px 20px;
}

#cancelButton{
    background-color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
}

#cancelButton:hover{
    background-color: rgb(36, 36, 36) !important;
    border-color: rgb(36, 36, 36) !important;
}