  <!--SOBRE MI-->
  <section id="about" class="about-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7" *ngFor="let persona of personaList">
          <h2 class="section-title">Sobre <span>mí</span></h2>
          <p>{{persona.sobre_mi}}</p>
        
          <!--Boton Contacto-->
          <a href="mailto:vanehuarte@gmail.com">
            <button type="button" class="btn">
              Contactame!
              <i class="bi bi-envelope-fill"></i>
            </button>
          </a>
        </div>
  
        <!--Imagen de Perfil-->
        <div class="col-lg-5 text-center">
          <img class="imgperfil" src="/assets/img/Img Perfil.png" alt="Foto de perfil">
        </div>

      </div> <!--Termina Fila-->
    </div> <!--Cierre Container-->

  </section>