#login{
    background-color: #f8f8f8;
    font-family: 'Poppins', sans-serif; 
}

#iconoLogin{
    font-size: 60px ;
}

#login .btn:hover{
    background-color: #b166c2 !important;
    border-color: #b166c2 !important;
}

#volverAtras{
    font-size: 30px;
    padding: 15px 20px;
}
  
